@model IList<SoftwareHutPreview.Application.Product.ViewModels.ProductViewModel>;
@{
    ViewData["Title"] = "Zarządzanie produktami";
}


    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div>
                <div class="pull-left">
                    <a asp-action="Create" class="btn btn-primary">
                        <span title="Stwórz Produkt" class="glyphicon glyphicon-plus-sign">Stwórz Produkt</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Kategoria
            </th>
            <th>
                Cena
            </th>
            <th>
                Typ produktu
            </th>
            <th>
                   
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) zł
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Name) 
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Szczegóły" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span>Szczegóły</span>
                    </a>
                    <a asp-action="Delete" ajaxy asp-route-id="@item.Id" title="Delete" onclick="return confirm('Jestes pewien ze chcesz usunąć ten produkt?')" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash">Usuń</span>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil">Edytuj</span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>

        $(function () {
            $("a[ajaxy]").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr("href");
                $.post(url).done(function (res) {
                    $this.closest("tr").fadeOut(300, function (a) {
                        $(this).remove();
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert("error in ajax call!" + errorThrown);
                })
            });
        });

    </script>
}